---
import { themeConfig } from '~/.config'
import { getPathFromCategory, withBase } from '~/utils'

interface Props {
  category: string
}

const { category } = Astro.props

function getCategoryUrl(category: string) {
  return withBase(`/categories/${getPathFromCategory(category, themeConfig.site.categoryMap)}`)
}
---

<a href={getCategoryUrl(category)}>
  # {category}
</a>
